<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70810416918-g587t4o7vamrhr68j5qi47ccsurlpfaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70810416918-g587t4o7vamrhr68j5qi47ccsurlpfaj</string>
	<key>API_KEY</key>
	<string>AIzaSyBOS2eqLfQpcdnjaJxI2X-ZQtKZRL4Khh0</string>
	<key>GCM_SENDER_ID</key>
	<string>70810416918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onlog</string>
	<key>PROJECT_ID</key>
	<string>nanal-ec12d</string>
	<key>STORAGE_BUCKET</key>
	<string>nanal-ec12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70810416918:ios:29d8066b2eb154befb8237</string>
</dict>
</plist>